div
{
    position: relative;
}
#main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0,0,0,0);

}
#autocomplete{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
}