#header {
    width: 100%;
    background-color: red;
    height: 30px;
}

#table {
    width: 100%;
    float : left;
    border-collapse: collapse;

}

#th, td {
    text-align: left;
    padding: 8px;
}

#tr:nth-child(even){background-color: #f2f2f2}

#th {
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px) {

    #container_table {
        width: 100%;
        margin: auto;
    }
    #up {
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        float: left;
        font-size: 90%;
        height:  100%;
    }
    #down {
        width: 80%;
        float: left;
        height:  100%;
        font-size: 90%;
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media screen and (min-width: 800px) and (max-width: 950px) {
    #container_table {
        width: 100%;
        margin: auto;
    }
    #up {
        width: 45%;
        float: left;
        height: 100%;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 85%;
    }
    #down {
        width: 45%;
        float: left;
        height:  100%;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 85%;
    }
}

@media screen and (min-width: 950px) {

    #container_table {
        width: 100%;
        margin: auto;
    }
    #up {
        width: 45%;
        float: left;
        height: 100%;
        padding-right: 2%;
        padding-left: 2%;
    }
    #down {
        width: 45%;
        float: left;
        height:  100%;
        padding-right: 2%;
        padding-left: 2%;
    }
}

#clear {
    clear: both;
}

