.navbar-robopi {
    background-color: #E13834;
    border-color: #A60D14;
}
.navbar-robopi .navbar-brand {
    color: #ffffff;
}
.navbar-robopi .navbar-brand:hover,
.navbar-robopi .navbar-brand:focus {
    color: #ffffff;
}
.navbar-robopi .navbar-text {
    color: #ffffff;
}
.navbar-robopi .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-robopi .navbar-nav > li > a:hover,
.navbar-robopi .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #C10F17;
}
.navbar-robopi .navbar-nav > .active > a,
.navbar-robopi .navbar-nav > .active > a:hover,
.navbar-robopi .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #A60D14;
}
.navbar-robopi .navbar-nav > .open > a,
.navbar-robopi .navbar-nav > .open > a:hover,
.navbar-robopi .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #A60D14;
}
.navbar-robopi .navbar-toggle {
    border-color: #A60D14;
}
.navbar-robopi .navbar-toggle:hover,
.navbar-robopi .navbar-toggle:focus {
    background-color: #A60D14;
}
.navbar-robopi .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-robopi .navbar-collapse,
.navbar-robopi .navbar-form {
    border-color: #ffffff;
}
.navbar-robopi .navbar-link {
    color: #ffffff;
}
.navbar-robopi .navbar-link:hover {
    color: #ffffff;
}