.navbar-lalbus {
    background-color: #E13834;
    border-color: #A60D14;
}
.navbar-lalbus .navbar-brand {
    color: #ffffff;
}
.navbar-lalbus .navbar-brand:hover,
.navbar-lalbus .navbar-brand:focus {
    color: #ffffff;
}
.navbar-lalbus .navbar-text {
    color: #ffffff;
}
.navbar-lalbus .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-lalbus .navbar-nav > li > a:hover,
.navbar-lalbus .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #C10F17;
}
.navbar-lalbus .navbar-nav > .active > a,
.navbar-lalbus .navbar-nav > .active > a:hover,
.navbar-lalbus .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #A60D14;
}
.navbar-lalbus .navbar-nav > .open > a,
.navbar-lalbus .navbar-nav > .open > a:hover,
.navbar-lalbus .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #A60D14;
}
.navbar-lalbus .navbar-toggle {
    border-color: #A60D14;
}
.navbar-lalbus .navbar-toggle:hover,
.navbar-lalbus .navbar-toggle:focus {
    background-color: #A60D14;
}
.navbar-lalbus .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-lalbus .navbar-collapse,
.navbar-lalbus .navbar-form {
    border-color: #ffffff;
}
.navbar-lalbus .navbar-link {
    color: #ffffff;
}
.navbar-lalbus .navbar-link:hover {
    color: #ffffff;
}