RewriteEngine on
RewriteRule ^index$ index.php [NC]
RewriteRule ^login$ login.php [NC]
RewriteRule ^following$ following.php [NC]
RewriteRule ^signup$ signup.php [NC]
RewriteRule ^schedule$ schedule.php [NC]
RewriteRule ^verify$ verify.php [NC]
RewriteRule ^report$ report.php [NC]
RewriteRule ^search$ search.php [NC]
RewriteRule ^login_admin$ login_admin.php [NC]
RewriteRule ^member_auth$ member_auth [NC]