RewriteEngine on
RewriteRule ^login$ login.php
RewriteRule ^following$ following.php
RewriteRule ^signup$ signup.php
RewriteRule ^schedule$ schedule.php
RewriteRule ^verify$ verify.php
RewriteRule ^report$ report.php
RewriteRule ^search$ places.php
RewriteRule ^adminlogin$ login_admin.php